<div th:fragment="service" class="service">
    <div class="service-container">
        <div class="left-service">
            <div class="left-above">
                <div class="card-7">
                    <div class="card-7-detail">
                        <h3>Wifi miễn phí</h3>
                        <p>Hệ thống wifi ổn định sẽ giúp cho việc làm của bạn trở nên thuận tiện hơn</p>
                    </div>
                </div>
                <div class="card-3">
                    <div class="card-3-detail">
                        <h3>An Ninh</h3>
                        <p>24/24</p>
                    </div>
                </div>
            </div>
            <div class="left-below">
                <div class="card-3">
                    <div class="card-3-detail">
                        <h3>Phòng cháy chữa cháy</h3>
                        <p>Hệ thống PCCC được đảm bảo và kiểm tra định kì</p>
                    </div>
                </div>
                <div class="card-7">
                    <div class="card-7-detail">
                        <h3>Miami</h3>
                        <p>32 properties</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="right-service">
            <div class="card-horizontal">
                <div class="card-horizontal-detail">
                    <h3>Chicago</h3>
                    <p>32 properties</p>
                </div>
            </div>
        </div>
    </div>
</div>